body {
    color: rgb(170, 170, 170);
    background-color: #08101d;
    font-family: "Kanit", sans-serif;}

.container {
    padding: 0px 50px;
}

header {
    text-align: center;
}

.navBarr {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    pad: 16px;

}

a {
    color: rgb(132, 184, 197);
    text-decoration: none;
}

h6 {
    text-align: center;

}

.sub {
    color: rgb(152, 175, 115);
}


h1 {
    margin-bottom: 10px;
   
}
.aviso {
    margin-top: 5px;
   
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;

}

footer a {
    margin: 12px;
    text-align: center;

}
